/** Add any CSS you need to this file. */
header {
    background-color: rgb(225, 49, 49);
}

    header h1 img {
        width: 200px;
        height: 150px;
        text-align: left;
    }

    header h1 {
        font-size: 50px;
        text-align: center;
        font-family: 'Merriweather', serif;
    }

    header h3 {
        text-align: center;
        font-size: 25px;
        color: black;
    }

footer {
    background-color: rgb(225, 49, 49);
}

.contacts {
    color: black;
}

column {
    width: 50%;
}

.music {
    width: 300px;
    height: 300px;
}

.GameMovie {
    width: 220px;
    height: 275px;
}

.grid-container {
    display: grid;
    grid-template-columns: 33% auto auto;
    background-color: #000000;
    padding: 10px;
    margin-left: 200px;
    padding: 16px 16px;
    height: auto;
}

    .grid-container p {
        font-family: Calibri;
    }

.grid-item {
    background-color: rgb(225, 49, 49);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

    .grid-item p {
        text-align: left;
    }

.title {
    text-align: center;
}

#title0,
#title1,
#title2,
#title3,
#title4,
#title5 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#image0,
#image1,
#image2,
#image3,
#image4,
#image5 {
    width: 250px;
    height: 275px;
}

#description0,
#description1,
#description2,
#description3,
#description4,
#description5 {
    font-size: 18px;
}

.addcart {
    border-color: red;
    background-color: black;
    color: white;
    display: block;
    max-width: 300px;
    margin: auto;
    padding: 12px;
    font-size: 20px;
    text-align: left;
    cursor: pointer;
}

#cartimg {
    width: 50px;
    height: 50px;
    opacity: 0.5;
}

.cart {
    width: 175px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: yellow;
    overflow-x: hidden;
    padding-top: 20px;
}

    .cart a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: black;
        display: block;
    }

.sidenav {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: yellow;
    position: absolute;
    height: auto;
    overflow: auto;
}

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: black;
        display: block;
    }

#subscribe {
    border-color: red;
    background-color: black;
    color: white;
    display: block;
    max-width: 300px;
    padding: 2px;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
}

@media only screen and (max-width:750px) {
    /* For landscape: */
    header {
        width: 90%;
        margin-left: 5%;
    }

        header h1 img {
            width: 65px;
            height: 35px;
            text-align: left;
        }

        header h1 {
            font-size: 15px;
        }

        header h3 {
            font-size: 12px;
        }

    .grid-container {
        margin-left: 5%;
        width: 90%;
        grid-template-columns: 80%;
        background-size: 100%;
        padding: 0px;
    }

    .grid-item {
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 30px;
        font-size: 20px;
        text-align: center;
        width: 100%;
        margin-left: 5%;
    }

    .sidenav {
        position: unset;
        text-align: left;
        width: 50%;
        margin-left: 5%;
    }

    .cart {
        position: unset;
        margin-left: 50%;
        margin-top: -125px;
        height: 50%;
        text-align: right;
        width: 45%;
        padding-top: 0px;
    }

    #cartimg {
        width: 45px;
        height: 45px;
    }

    footer {
        width: 90%;
        margin-left: 5%;
    }


}

@media only screen and (max-width:420px) {
    /* For mobile phones: */
    header {
        width: 90%;
        margin-left: 5%;
    }

        header h1 img {
            width: 35px;
            height: 25px;
        }

        header h1 {
            font-size: 12px;
        }

        header h3 {
            font-size: 10px;
        }

    .grid-container {
        margin-left: 5%;
        width: 90%;
        grid-template-columns: 100%;
        background-size: 100%;
        padding: 0 0%;
    }

    .grid-item {
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
        width: 77.5%;
    }

    .sidenav {
        position: unset;
        width: 30%;
        text-align: left;
    }
        .sidenav a {

            font-size: 25px;

        }

    .cart {
        position: unset;
        margin-top: -127px;
        text-align: right;
        width: 60%;
        margin-left: 35%;
    }

        .cart a {
            font-size: 25px;
        }



}
